/*desktop-enhet*/


/*body*/

body {
    background-color: gray;
    font-family: Arial, sans-serif;
}

/*sidhuvud med lite mellanrum underifrån*/

header {
    display: inline-block;
    width: 100%;
    background-color: $darken-colors;
    position: relative;
    text-align: center;
    justify-content: center;
    font-size: 150%;
    display: inline-flex;
    line-height: 2em;
    padding: 0%;
    margin-top: 5%;
}



/*global navigation med store bokstäver & arial-teckensnitt
relativt i mitt-till höger med svart textfärg*/


#button1 {
    @include button ($circle: true);
    background-color: $button-color1;
}

#button2 {
    @include button ($circle: true);
    background-color: $button-color2;
 
}
#button3 {
    @include button ($circle: true);
    background-color: $button-color3;
 
}


/*paragraftext justering; Arial i svart*/

hr {
    color: $line-color;
    height: 0px;
    border-style: solid;
    border-width: 6px;
    margin-top: 0%;
}


a {
    background: $buttonlink-color;
    opacity: 66%;
    border-style: solid;
    border-color: blue;
    margin-bottom: 7%;
    font-weight: bold;
    width: 100%;
    text-align: left;
    font-size: 1em;
    padding: 0%;
    color: black;
}


p {
    font-weight: bolder;
    font-size: 1em;
}

/*bilder*/
img {
    width: 100%;
}
/*sidfoten justeras*/

footer {
    @extend header;
}

