/*mobilenhet upp till 500px i bredd i stående form*/

@media only screen and (max-width: 529px) and (orientation: portrait) {
    body {
        background-color: #fff;
    }

    #textbanner {
        float: right;
        font-weight: 500;
        font-size: 0.8em;
    }
    #textbanner {
        float: right;
        font-weight: 500;
        font-size: 0.9em;
    }

    #wrapper1 {
        background-color: #fff;
        max-width: 500px;
        margin: 0 auto;
        padding: 1.25%;
        padding-top: 1%;
    }

    #logo {
        width: 18%;
    }

    .menynamn {
        background-color: $background-color;
        padding: 3%;
        font-size: 1.3em;
        float: left;
        color: white;
        border-color: black;
        border: solid 2px;
        text-decoration: none;
        margin: 1%;
    }
#menuwrap {
    margin-left: 4%;
    width: 90%;
    font-size: 1.5em;
    line-height: 1.5em;
    
}

.current {
    background-color: #ffaa7e;
    padding: 3%;
    font-size: 1.45em;
    float: left;
    color: white;
    border-color: black;
    border: solid 0px;
    text-decoration: none;
}

#picturemenuwrap {
    width: 100%;
}

/*FORM*/
form {
    font-size: 1.25em;
    line-height: 1.5em;
    font-weight: bold;
    width: 100%;
}

input {
    font-size: 1.4em;
}

textarea {
    font-size: 1em;
}

#wrapperform {
    width: 100%;
}
Textarea {
    max-width: 350px;
}

/*RUBRIKER*/
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.5em;
        line-height: 1.25em;
    }


    p {
        font-size: 1.35em;
        line-height: 1.35em;
    }
}