/*--PROGRAMMER: DAMJAN TOSIC, DATO1700@MIUN.STUDENT.SE---*/

/*MAIN FUNCTIONS */

/*variabler*/
$background-color: #be805f;
$footer-color: #be805f;
$line-color: red;
$button-color1: black;
$button-color2: red;
$buttonlink-color: #fec706;

@import 'desktop';

@import 'pad';

@import 'mobile';