@charset "UTF-8";
/*--PROGRAMMER: DAMJAN TOSIC, DATO1700@MIUN.STUDENT.SE---*/
/*MAIN FUNCTIONS */
body {
  background-color: #be805f;
  font-family: Arial, sans-serif;
}

#wrapper1 {
  background-color: #fff;
  max-width: 960px;
  margin: 0 auto;
  line-height: 1.3em;
  padding: 5.25%;
  max-width: 960px;
  padding-top: 1%;
}

/*HUVUDNAVIGATION*/
#textbanner, #textparagraf {
  float: right;
  font-weight: 500;
}

.nav {
  text-transform: uppercase;
  padding-top: 2%;
  padding-left: 0%;
  font-size: 1.2em;
  float: none;
  position: relative;
  width: 100%;
  color: #000;
  font-weight: bold;
  padding: 1%;
  display: inline-block;
}

.menynamn {
  background-color: #be805f;
  padding: 2%;
  font-size: 1.25em;
  float: left;
  color: white;
  border-color: black;
  border: solid 2px;
  text-decoration: none;
}

.current {
  background-color: #ffaa7e;
  padding: 2%;
  font-size: 1.25em;
  float: left;
  color: white;
  border-color: black;
  border: solid 2px;
  text-decoration: none;
}

/*--IMAGES--*/
.picturestart {
  width: 100%;
}

img {
  float: none;
  width: 12%;
}

#textner {
  text-align: center;
  position: relative;
  font-size: 0.95em;
}

/*LÄNKAR*/
a {
  font-weight: bolder;
  color: white;
}

a:hover {
  color: #000;
  background-color: red;
}

a.topptextlink {
  color: black;
}

a.link1 {
  color: black;
}

a.menynamn {
  color: white;
}

hr {
  color: #eb0808;
  height: 0px;
  border-style: solid;
  border-width: 6px;
  margin-top: 0%;
}

/*MENU*/
#menuwrap {
  font-size: 1.1em;
  font-weight: bolder;
  float: left;
  width: 45%;
}

#picturemenuwrap {
  width: 45%;
  float: right;
}

.picturemenu {
  width: 100%;
  margin-top: 15%;
}

.menulist {
  font-size: 1.15em;
  margin-top: 20px;
}

#messagesent {
  font-size: 2.5em;
  font-weight: bolder;
}

#arrivaltable, #costtable, #typetable {
  display: none;
}

/*KONTAKT*/
#messageContact {
  font-size: 2.5em;
  font-weight: bolder;
}

/*MAP*/
.gmap_canvas, .mapouter {
  border-radius: 35px;
  padding-bottom: 3%;
}

.mapouter {
  position: relative;
  text-align: left;
  height: 285px;
  max-width: 670px;
  min-width: 350px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 285px;
  max-width: 670px;
  min-width: 350px;
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  max-width: 670PX;
  height: 325PX;
}

/*FORMULÄR*/
form {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
}

input {
  font-size: 2em;
}

textarea {
  font-size: 1.25em;
}

input[type=radio] {
  transform: scale(2);
}

.button1 {
  font-size: 1.25em;
  background-color: black;
  color: white;
  padding: 2%;
  text-decoration: none;
  float: right;
}

.button2 {
  font-size: 1.25em;
  background-color: red;
  color: white;
  padding: 2%;
  text-decoration: none;
  float: left;
}

.button3 {
  font-size: 1.25em;
  background-color: black;
  color: white;
  padding: 2%;
  text-decoration: none;
  float: right;
}

/*RUBRIKER*/
h1 {
  margin-top: 45px;
  margin-bottom: 20px;
  font-size: 3.1em;
  line-height: 1.5em;
  float: right;
  position: relative;
  max-width: 100%;
}

h2 {
  font-size: 2em;
  line-height: 1.25em;
}

h3 {
  font-size: 1.75em;
  line-height: 1.5em;
}

p {
  font-size: 1.3em;
  line-height: 1.5em;
}

/*SIDFOT*/
footer {
  display: inline-block;
  width: 100%;
  background-color: #be805f;
  color: #ffffff;
  position: relative;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 0%;
  margin-top: 5%;
}

#banner {
  width: 100%;
}

/*media query satt skärmupplösninh mellan 501-799 pixlar; surfplatta*/
@media only screen and (min-width: 530px) and (max-width: 860px) {
  /*FORM*/
  form {
    font-size: 1.35em;
    line-height: 1.6em;
    font-weight: bold;
    width: 100%;
  }

  input {
    font-size: 1.6em;
  }

  textarea {
    font-size: 1.3em;
  }

  #wrapperform {
    width: 100%;
  }

  Textarea {
    max-width: 350px;
  }
}
/*mobilenhet upp till 500px i bredd i stående form*/
@media only screen and (max-width: 529px) and (orientation: portrait) {
  body {
    background-color: #fff;
  }

  #wrapper1 {
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    padding: 1.25%;
    padding-top: 1%;
  }

  #logo {
    width: 18%;
  }

  .menynamn {
    background-color: #be805f;
    padding: 1%;
    font-size: 0.9em;
    float: left;
    color: white;
    border-color: black;
    border: solid 2px;
    text-decoration: none;
  }

  #menuwrap {
    margin-left: 4%;
    width: 90%;
    font-size: 1.5em;
    line-height: 1.5em;
  }

  #picturemenuwrap {
    width: 100%;
  }

  /*FORM*/
  form {
    font-size: 1.25em;
    line-height: 1.5em;
    font-weight: bold;
    width: 100%;
  }

  input {
    font-size: 1.4em;
  }

  textarea {
    font-size: 1em;
  }

  #wrapperform {
    width: 100%;
  }

  Textarea {
    max-width: 350px;
  }

  /*RUBRIKER*/
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.25em;
  }

  p {
    font-size: 1.35em;
    line-height: 1.35em;
  }
}